streamlit
traceback2
pandas
pypi-json
openai
langchain
langchain-litellm
langchain-community
python-dotenv
matplotlib
seaborn
plotly
ollama
pysqlite3
boto3
python-dotenv
tiktoken
langchain-litellm 
pip
scikit-learn
